.desc {
  font-size: clamp(45px, 12vw, 109px);
  line-height: clamp(1, 1, 1);
}

.about {
  font-size: clamp(16px, 4vw, 21px);
  line-height: clamp(1, 1, 1);
}

.aboutTow {
  font-size: clamp(16px, 4vw, 18px);
  line-height: clamp(1, 1, 1);
}
.image {
  clip-path: inset(100% 0% 0% 0%);
  transition: clip-path 2s cubic-bezier(0.77, 0, 0.175, 1);
  &.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
  }
}
