.modalContainer {
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 1s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img {
  height: 200px;
  object-fit: cover;
}

.cursor,
.cursorLabel {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #455ce9;
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}
